@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #282c3f;
  --secondary-color: #686b78;
  --text-color: #a9abb2;
}
body {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}

h1 {
  font-size: 2.5rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
li {
  list-style: none;
}
.container {
  margin-left: 130px;
}
.container-1 {
  margin-left: 130px;
  margin-right: 150px;
}
.flex {
  display: flex;
  align-items: center;
}
.top-img {
  display: flex;
  float: right;
  height: 67vh;
  width: 85vh;
  margin-top: 0;
}
.main-nav {
  justify-content: space-between;
}
.nav-links ul {
  gap: 20px;
  margin-top: 50px;
  margin-right: 45px;
}
.company-logo img {
  width: 200px;
  margin-top: 50px;
}
.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 18px;
  font-weight: 700;
  border-radius: 3px;
}
.hover-links {
  font-weight: 700;
  color: black;
}
.hover-links:hover {
  color: #fc8019;
}
.banner-text {
  margin-top: 50px;
}
.banner-text h1 {
  color: var(--primary-color);
}
.banner-text h3 {
  color: var(--secondary-color);
  margin-top: 2px;
  font-weight: 500;
}

.input {
  margin-top: 29px;
  padding-left: 15px;
  width: 39%;
  height: 60px;
  border: 1px solid #ccc;
  /* overflow:hidden; */
}

.input-container {
  padding: 0;
  margin: 0;
  color: #93959f;
  border: none;
  width: 302px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.locate {
  font-size: 14px;
  color: #686b78;
  margin-left: 47px;
  padding-right: 22px;
  /* margin-right: 2px; */
}
.find-btn {
  color: #ffffff;
  background-color: #fc8019;
  /* margin-left: 200px; */
}

.cities {
  margin-top: 30px;
}
.cty {
  color: #93959f;
}
.primary-text {
  color: #686b78;
  padding-right: 8px;
  font-size: 15px;
}
.secondary-text {
  color: #93959f;
  padding-right: 8px;
  font-size: 15px;
}
.all-city {
  margin-top: 10px;
  margin-bottom: 50px;
}
.small-text {
  font-weight: 700;
  font: bold;
}

.feature-section {
  background-color: #2b1e16;
  gap: 20px;
}
.feature img {
  width: 120px;
  height: 100%;
}
.feature {
  text-align: center;
  color: white;
  margin: 15px;
  padding-bottom: 80px;
}
.feature P {
  color: #e0cbc1;
  margin-top: 10px;
}
.feature-3 {
  margin-top: 48px;
}
.download-section {
  gap: 15px;
}
.download-para {
  margin-top: 20px;
  color: #93959f;
}
.img-phone img {
  width: 100%;
}
.store-icon {
  margin-top: 20px;
}
.sub-footer {
  background-color: #000000;
  padding-bottom: 60px;
  align-items: flex-start;
}
.sub-footer-contain {
  align-items: flex-start;
  justify-content: space-evenly;
}
.link-column {
  flex-direction: column;
  margin-top: 5%;
  font-size: 17px;
}
.link-column h4 {
  color: #808080;
  font-weight: 700;
  margin-bottom: 25px;
}
.link-column a {
  text-decoration: none;
  color: rgb(200, 196, 196);
  margin-bottom: 10px;
  float: left;
}
.link-column a:hover {
  color: #fc8019;
}
.logos {
  margin-top: 8%;
}
.logos img {
  width: 25vh;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
footer {
  background-color: #000000;
}
.footer {
  border-top: 1px solid rgb(144, 144, 144);
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  margin: 20px 20px;
}
.footer-logo img {
  width: 130px;
}
.year-swiggy p {
  color: rgb(178, 178, 178);
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
.social-media i {
  color: white;
  margin-right: 20px;
  font-size: 25px;
}
.social-media i:hover {
  color: #fc8019;
}